<%= form_for(@tumor_update, html: { id: 'new-tumor-update', class: :survey }) do |f| %>
  <div class="title">Please answer the following about your tumor:</div>

  <div class="question diagnosis">
    <%= f.label(:diagnosis, 'What is your diagnosis?') %>
    <div class="response">
      <%= f.text_area(:diagnosis) %>
    </div>
  </div>

  <div class="question surgery">
    <%= f.label(:has_had_surgery, 'Have you undergone surgery for your tumor?') %>
    <div class="response">
      <%= f.select(:has_had_surgery, [
                     ['Select one...', nil],
                     ['Yes', true],
                     ['No',  false]
                   ]) %>
    </div>
  </div>

  <div class="question radiation">
    <%= f.label(:has_had_radiation, 'Have you undergone radiation for your tumor?') %>
    <div class="response">
      <%= f.select(:has_had_radiation, [
                     ['Select one...', nil],
                     ['Yes', true],
                     ['No',  false]
                   ]) %>
    </div>
  </div>

  <div class="question chemo">
    <%= f.label(:has_had_chemo, 'Have you undergone chemotherapy for your tumor?') %>
    <div class="response">
      <%= f.select(:has_had_chemo, [
                     ['Select one...', nil],
                     ['Yes', true],
                     ['No',  false]
                   ]) %>
    </div>
  </div>

  <div class="question chemo-type">
    <%= f.label(:chemo_type, 'if you have had chemotherapy, what was it called?') %>
    <div class="response">
      <%= f.text_field(:chemo_type) %>
    </div>
  </div>

  <div class="question seizure">
    <%= f.label(:has_had_seizure, 'Have you ever had a seizure?') %>
    <div class="response">
      <%= f.select(:has_had_seizure, [
                     ['Select one...', nil],
                     ['Yes', true],
                     ['No',  false]
                   ]) %>
    </div>
  </div>

  <div class="question seizure-count">
    <%= f.label(:seizure_count, 'How many seizures have you had in the past one month?') %>
    <div class="response">
      <%= f.number_field(:seizure_count, min: 0) %>
    </div>
  </div>

  <div class="question steroid-dose">
    <%= f.label(:steroid_dose, 'What is your current dose of steroids (dexamethasone)?') %>
    <div class="response">
      <div class="dose">
        <%= f.number_field(:steroid_dose, min: 0) %> mg
      </div>
      <div class="unknown">
        <%= f.check_box(:unknown_steroid_dose) %> 
        <%= f.label(:unknown_steroid_dose, 'N/A') %>
      </div>
      <script>
        $(document).ready(function() {
          patientCare.enabledControlField('new-tumor-details', 
                                          'input#unknown_steroid_dose', 
                                          'input#steroid_dose');
        });
      </script>
    </div>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:step, '', class: :action) %>

    <%= link_to("Cancel", '#', onClick: 'submitForm("cancel")', class: :cancel) %>
    <%= link_to("Back", '#', onClick: 'submitForm("back")', class: :back) %>
    <%= link_to("Next", '#', onClick: 'submitForm("submit")', class: :next) %>
  </div>

<% end %>


<script>
  var submitForm = function(action) {
    patientCare.submitForm("new-tumor-update", action, {});
  };
</script>
