<div id="duplicate-user-check">
  <div class="title">We found recods with similar personal information. Is one of the following an existing record for you?</div>

  <!-- Note: This is outside of the form because this data will need to be transformed before being submitted to the server. -->
  <div class="users">
    <% for user in @user.duplicates %>
      <div class="user">
        <div class="selector">
          <%= check_box_tag "user_#{user.id}", 1, false, data: { 'user-id' => user.id } %>
        </div>
        <%= label_tag "user_#{user.id}", class: 'user-details' do %>
          <div class="full-name attr">
            <span class="first-name"><%= user.first_name %></span>
            <span class="last-name"><%= user.last_name %></span>
          </div>
          <div class="birth-date attr">
            <div class="label">Birth Date:</div>
            <div class="value"><%= user.birth_date %></div>
          </div>
          <div class="gender attr">
            <div class="label">Gender:</div>
            <div class="value"><%= user.gender.try(:titleize) %></div>
          </div>
          <div class="ethnicity attr">
            <div class="label">Ethnicity:</div>
            <div class="value"><%= user.ethnicity.try(:titleize) %></div>
          </div>
          <div class="last-update attr">
            <div class="label">Last Use:</div>
            <div class="value"><%= user.last_update %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_tag(duplicate_users_path, id: 'duplicate-user-form') do %>
    <%= hidden_field_tag :duplicate_user_id %>
    <%= hidden_field_tag(:next_action, '', class: :action) %>

    <div class="actions">
      <%= link_to("Cancel", '#', onClick: 'submitForm("cancel")', class: :cancel) %>
      <%= link_to("No, None are me.", '#', onClick: 'submitForm("submit")', class: :next) %>
    </div>
  <% end %>

</div>

<script>
  $(document).ready(function() {
    var NO_DUP_FOUND_LABEL = "No, None are me.";
    var DUP_FOUND_LABEL = "Yes, This is me.";

    var $form = $('#duplicate-user-check form');
    var $userField = $form.find('#duplicate_user_id');
    var $submitButton = $form.find('a.next');

    setupPresenceBasedButtonLabelToggle($userField, $submitButton, 
                                        DUP_FOUND_LABEL, NO_DUP_FOUND_LABEL);

    var userCheckboxSelector = '#duplicate-user-check .users .user input[type=checkbox]';
    setupUserSelectionHandlers(userCheckboxSelector, 'userId', $userField);
  });

  var submitForm = function(action) {
    patientCare.submitForm("duplicate-user-form", action, {});
  };
</script>
