<div class="question <%= question.name %>">
  <%= label_tag(question.name, question.question) %>
  <div class="response">
    <div class="option">
      <%= radio_button_tag(question.name, true, response.try(:response) == true) %>
      <%= label_tag("#{question.name}_yes", 'Yes') %>
    </div>
    <div class="option">
      <%= radio_button_tag(question.name, false, response.try(:response) == false) %>
      <%= label_tag("#{question.name}_no", 'No') %>
    </div>
  </div>
</div>
