<%= form_for(@work_update, html: { id: 'new-work-update', class: :survey }) do |f| %>
  <div class="title">Please answer the following about your life:</div>

  <div class="question was-working">
    <%= f.label(:prior_employment_status, 'Were you employed prior to the diagnosis of your tumor?') %>
    <div class="response">
      <%= f.select(:prior_employment_status, [
                     ['Select one...', nil],
                     ['Full Time', :full],
                     ['Part Time', :part],
                     ['No',  :none]
                   ]) %>
    </div>
  </div>

  <div class="question is-working">
    <%= f.label(:current_employment_status, 'Are you currently employed?') %>
    <div class="response">
      <%= f.select(:current_employment_status, [
                     ['Select one...', nil],
                     ['Full Time', :full],
                     ['Part Time', :part],
                     ['No',  :none]
                   ]) %>
    </div>
  </div>

  <div class="question max-schooling">
    <%= f.label(:max_education_level, 'What is the highest schooling you completed?') %>
    <div class="response">
      <%= f.select(:max_education_level, [
                     ['Select one...', nil],
                     ['High School Graduate', :high_school],
                     ['Occupational/Vocational Degree', :vocational],
                     ['Associate Degree', :associate],
                     ['Bachelor\'s Degree', :bachelor],
                     ['Master\'s Degree', :master],
                     ['Doctoral Degree', :doc],
                     ['None of the Above', :none]
                   ]) %>
    </div>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:step, '', class: :action) %>

    <%= link_to("Cancel", '#', onClick: 'submitForm("cancel")', class: :cancel) %>
    <%= link_to("Back", '#', onClick: 'submitForm("back")', class: :back) %>
    <%= link_to("Next", '#', onClick: 'submitForm("next")', class: :next) %>
  </div>

<% end %>


<script>
  var submitForm = function(action) {
    patientCare.submitForm("new-work-update", action, {});
  };
</script>
