<%= form_tag(new_patient_personal_path, id: 'new-personal-details', class: :survey) do %>
  <div class="title">Please answer the following:</div>

  <div class="question name">
    <%= label_tag(:full_name, 'What is your first and last name?', class: :required) %>
    <div class="response">
      <%= text_field_tag(:first_name, '', placeholder: 'First Name') %>
      <%= text_field_tag(:last_name, '', placeholder: 'Last Name') %>
    </div>
  </div>

  <div class="question birth-date">
    <%= label_tag(:birth_date, 'What is your date of birth?', class: :required) %>
    <div class="response">
      <%= date_field_tag(:birth_date) %>
      <!-- TODO: Find a better date field. -->
    </div>
  </div>

  <div class="question gender">
    <%= label_tag(:gender, 'What is your gender?') %>
    <div class="response">
      <%= select_tag(:gender, options_for_select([ ['Select one...', :select],
                                                   ['Male',:male],
                                                   ['Female',:female],
                                                   ['Not specified',:unspecified] ])) %>
    </div>
    <div class="followup">
      <%= label_tag(:gender_other, 'If not specified:') %>
      <div class="response">
        <%= text_field_tag(:gender_other, '', placeholder: 'Please write in here') %>
      </div>
    </div>
  </div>

  <div class="question race">
    <%= label_tag(:race, 'What is your race/ethnicity?') %>
    <div class="response">
      <%= select_tag(:race, options_for_select([ ['Select one...', :select],
                                                 ['American Indian or Alaska Native',:i],
                                                 ['Asian',:a],
                                                 ['Hispanic, Latino, or Spanish Origin',:l],
                                                 ['Black or African American',:b],
                                                 ['Native Hawaiian or Other Pacific Islander',:h],
                                                 ['White',:w],
                                                 ['Other, please specify.',:o] ])) %>
    </div>
    <div class="followup">
      <%= label_tag(:race_other, 'If other:') %>
      <div class="response">
        <%= text_field_tag(:race_other, '', placeholder: 'Please write in here') %>
      </div>
    </div>
  </div>

  <div class="question diagnosis">
    <%= label_tag(:diagnosis, 'What is your diagnosis?') %>
    <div class="response">
      <%= text_area_tag(:diagnosis, '') %>
    </div>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:step, '', class: :action) %>

    <%= link_to("Cancel", '#', onClick: 'submitForm("cancel")', class: :cancel) %>
    <%= link_to("Next", '#', onClick: 'submitForm("next")', class: :next) %>
  </div>

<% end %>


<script>
  var submitForm = function(action) {
    var options = {};
    if (action == 'next') {
      options = {
        validate: [ {
          selector: 'input[name=first_name]',
          required: true
        }, {
          selector: 'input[name=last_name]',
          required: true
        }, {
          selector: 'input[name=birth_date]',
          required: true,
          dataType: 'date'
        } ]
      };
    }

    patientCare.submitForm("new-personal-details", action, options);
  };
</script>
