<%= form_tag(returning_patient_personal_path, id: 'returning-personal-details', class: :survey) do %>
  <div class="title">Please answer the following:</div>

  <div class="question name">
    <%= label_tag(:full_name, 'What is your first and last name?', class: :required) %>
    <div class="response">
      <%= text_field_tag(:first_name, '', placeholder: 'First Name') %>
      <%= text_field_tag(:last_name, '', placeholder: 'Last Name') %>
    </div>
  </div>

  <div class="question birth-date">
    <%= label_tag(:birth_date, 'What is your date of birth?', class: :required) %>
    <div class="response">
      <%= date_field_tag(:birth_date) %>
      <!-- TODO: Find a better date field. -->
    </div>
  </div>

  <div class="question seizure-count">
    <%= label_tag(:seizure_count, 'How many seizures have you had in the past one month?') %>
    <div class="response">
      <%= number_field_tag(:seizure_count, nil, min: 0) %>
    </div>
  </div>

  <div class="question steroid-dose">
    <%= label_tag(:steroid_dose, 'What is your current dose of steroids (dexamethasone)?') %>
    <div class="response">
      <div class="dose">
        <%= number_field_tag(:steroid_dose, nil, min: 0) %> mg
      </div>
      <div class="unknown">
        <%= check_box_tag(:unknown_steroid_dose) %>
        <%= label_tag(:unknown_steroid_dose, 'N/A') %>
      </div>
      <script>
        $(document).ready(function() {
          patientCare.enabledControlField('returning-personal-details',
                                          'input#unknown_steroid_dose',
                                          'input#steroid_dose');
        });
      </script>
    </div>
  </div>

  <div class="question is-working">
    <%= label_tag(:is_working, 'Are you currently working?') %>
    <div class="response">
      <%= select_tag(:is_working, options_for_select([ ['Select one...', :select],
                                                       ['Full Time', :full],
                                                       ['Part Time', :part],
                                                       ['No',  :none] ])) %>
    </div>
  </div>

  <div class="question rating depressed">
    <%= label_tag(:depressed_rating, 'In the past week, I have spent more than half of the time feeling depressed:') %>
    <%= hidden_field_tag(:depressed_rating) %>
    <div class="response drop-down">
      <%= select_tag(:depressed_rating_select,
                     options_for_select([ ['Select one...', :select],
                                          ['Strongly Agree',:strong_agree],
                                          ['Agree',:agree],
                                          ['Neutral',:neutral],
                                          ['Disagree',:disagree],
                                          ['Strongly Disagree',:strong_disagree] ])) %>
    </div>
    <div class="response radio">
      <div class="option">
        <%= radio_button_tag(:depressed_rating_radio, :strong_agree) %>
        <%= label_tag(:depressed_rating_radio_strong_agree, 'Strongly Agree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:depressed_rating_radio, :agree) %>
        <%= label_tag(:depressed_rating_radio_agree, 'Agree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:depressed_rating_radio, :neutral) %>
        <%= label_tag(:depressed_rating_radio_neutral, 'Neutral') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:depressed_rating_radio, :disagree) %>
        <%= label_tag(:depressed_rating_radio_disagree, 'Disagree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:depressed_rating_radio, :strong_disagree) %>
        <%= label_tag(:depressed_rating_radio_strong_disagree, 'Strongly Disagree') %>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        patientCare.reflectField('returning-personal-details',
                                 'input#depressed_rating',
                                 'select#depressed_rating_select');
        patientCare.reflectRadio('returning-personal-details',
                                 'input#depressed_rating',
                                 'depressed_rating_radio');
      });
    </script>
  </div>

  <div class="question rating depressed">
    <%= label_tag(:hope_rating, 'In the past week, I have spent more than half of the time feeling no hope:') %>
    <%= hidden_field_tag(:hope_rating) %>
    <div class="response drop-down">
      <%= select_tag(:hope_rating_select,
                     options_for_select([ ['Select one...', :select],
                                          ['Strongly Agree',:strong_agree],
                                          ['Agree',:agree],
                                          ['Neutral',:neutral],
                                          ['Disagree',:disagree],
                                          ['Strongly Disagree',:strong_disagree] ])) %>
    </div>
    <div class="response radio">
      <div class="option">
        <%= radio_button_tag(:hope_rating_radio, :strong_agree) %>
        <%= label_tag(:hope_rating_radio_strong_agree, 'Strongly Agree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:hope_rating_radio, :agree) %>
        <%= label_tag(:hope_rating_radio_agree, 'Agree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:hope_rating_radio, :neutral) %>
        <%= label_tag(:hope_rating_radio_neutral, 'Neutral') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:hope_rating_radio, :disagree) %>
        <%= label_tag(:hope_rating_radio_disagree, 'Disagree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:hope_rating_radio, :strong_disagree) %>
        <%= label_tag(:hope_rating_radio_strong_disagree, 'Strongly Disagree') %>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        patientCare.reflectField('returning-personal-details',
                                 'input#hope_rating',
                                 'select#hope_rating_select');
        patientCare.reflectRadio('returning-personal-details',
                                 'input#hope_rating',
                                 'hope_rating_radio');
      });
    </script>
  </div>

  <div class="question rating spiritual">
    <%= label_tag(:spiritual_rating, 'I consider myself a spiritual person:') %>
    <%= hidden_field_tag(:spiritual_rating) %>
    <div class="response drop-down">
      <%= select_tag(:spiritual_rating_select,
                     options_for_select([ ['Select one...', :select],
                                          ['Strongly Agree',:strong_agree],
                                          ['Agree',:agree],
                                          ['Neutral',:neutral],
                                          ['Disagree',:disagree],
                                          ['Strongly Disagree',:strong_disagree] ])) %>
    </div>
    <div class="response radio">
      <div class="option">
        <%= radio_button_tag(:spiritual_rating_radio, :strong_agree) %>
        <%= label_tag(:spiritual_rating_radio_strong_agree, 'Strongly Agree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:spiritual_rating_radio, :agree) %>
        <%= label_tag(:spiritual_rating_radio_agree, 'Agree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:spiritual_rating_radio, :neutral) %>
        <%= label_tag(:spiritual_rating_radio_neutral, 'Neutral') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:spiritual_rating_radio, :disagree) %>
        <%= label_tag(:spiritual_rating_radio_disagree, 'Disagree') %>
      </div>
      <div class="option">
        <%= radio_button_tag(:spiritual_rating_radio, :strong_disagree) %>
        <%= label_tag(:spiritual_rating_radio_strong_disagree, 'Strongly Disagree') %>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        patientCare.reflectField('returning-personal-details',
                                 'input#spiritual_rating',
                                 'select#spiritual_rating_select');
        patientCare.reflectRadio('returning-personal-details',
                                 'input#spiritual_rating',
                                 'spiritual_rating_radio');
      });
    </script>
  </div>

  <div class="question rating support-sources">
    <%= label_tag(:support_sources, 'I find my support from (select all that apply):') %>
    <div class="response check">
      <div class="option">
        <%= check_box_tag(:self_support_check) %>
        <%= label_tag(:self_support_check, 'Myself') %>
      </div>
      <div class="option">
        <%= check_box_tag(:family_support_check) %>
        <%= label_tag(:family_support_check, 'Family') %>
      </div>
      <div class="option">
        <%= check_box_tag(:friend_support_check) %>
        <%= label_tag(:friend_support_check, 'Friends') %>
      </div>
      <div class="option">
        <%= check_box_tag(:religion_support_check) %>
        <%= label_tag(:religion_support_check, 'Religion') %>
      </div>
      <div class="option">
        <%= check_box_tag(:other_support_check) %>
        <%= label_tag(:other_support_check, 'Other') %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:step, '', class: :action) %>

    <%= link_to("Cancel", '#', onClick: 'submitForm("cancel")', class: :cancel) %>
    <%= link_to("Next", '#', onClick: 'submitForm("next")', class: :next) %>
  </div>

<% end %>


<script>
  var submitForm = function(action) {
    var options = {};
    if (action == 'next') {
      options = {
        validate: [ {
          selector: 'input[name=first_name]',
          required: true
        }, {
          selector: 'input[name=last_name]',
          required: true
        }, {
          selector: 'input[name=birth_date]',
          required: true,
          dataType: 'date'
        } ]
      };
    }

    patientCare.submitForm("returning-personal-details", action, options);
  };
</script>
